.dark_home {
  height: 210px;
}
.light_home {
  min-height: calc(100vh - 210px);
}
.home_row {
  padding-top: 12px;
  font-size: 12px;
  color: #fff;
}
.home_row > img {
  margin-right: 5px;
}
.home_row > div {
  margin-top: 24px;
  font-size: 22px;
}
.container_bttm {
  position: absolute;
  background-color: #edf6ff;
  width: calc(100% - 48px);
  max-width: 1100px;
}
.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -32px;
}
.dummy {
  height: 0px;
  padding: 0px;
  width: 260px;
  margin: 0px 9px;
}
.pagination {
  padding: 15px 0px 70px 0px;
  display: flex;
  justify-content: center;
}
.pagination > * {
  margin: 0px 4px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.pagination > img.active {
  cursor: pointer;
}
.page_num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43afff33;
  font-size: 14px;
}
.dtext {
  font-size: 20px;
  color: #303f60;
  margin-top: 20px;
}
.empty_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty_page > img {
  margin-top: 10px;
}
